game {

    .game-thumbnail { 
        margin-top: 8px;
        height: 27px;
    }

    .rank {
        float: right;
    }

    .rating {
        float: left;
    }

    .averageRating {
        float: right;
    }

}
