<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar [color]="isExpansion === true ? 'secondary' : 'light'">
    <ion-title>
      <span>{{thing?.name}} ({{thing?.yearPublished}})</span>
      <span color="dark" class="rank" *ngIf="isExpansion === true && thing?.rank !== -1"> #{{thing?.rank}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <img start *ngIf=" thing" [src]="thing?.image" />
    <ion-item no-lines>
      <div color="primary">Players</div>
      <div>
        {{thing?.minPlayers}}-{{thing?.maxPlayers}}
      </div>
    </ion-item>
    <ion-item no-lines>
      <div color="primary">Rating</div>
      <div>
        <span class="rating">{{thing?.bggRating}}</span>
        <span class="averageRating">Avg: {{thing?.averageRating}}</span>
      </div>
    </ion-item>
    <button ion-button full no-lines color="primary" (click)="toggleShowDescription()">Description</button>
    <p *ngIf=' showDescription'>
      {{Description}}
    </p>
    <ion-title *ngIf="thing?.expansions?.length > 0"> Expansions </ion-title>
    <ion-list>
      <button ion-item *ngFor="let expansion of thing?.expansions" (click)="openGame(expansion.gameId)">
        {{expansion.name}}
      </button> 
    </ion-list>

</ion-content>
